# Node
node_modules/
npm-debug.log
yarn-error.log
.env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.DS_Store

# Git Backups
.git_backup/
**/.git_backup/
fix_ids.js
